<div class="flex mt-[5%] ml-[6%] space-x-3 ">
    <div class="flex justify-center">
        <div class="flex flex-col">
        <label>Location:</label>
        <div class="mb-3 xl:w-15">
          <div class="relative mb-1 flex w-full flex-wrap items-stretch">
            <input
              type="search"
            
              class="relative m-0 block w-[1%] min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-1.5 text-base font-normal text-neutral-700 outline-none transition duration-300 ease-in-out focus:border-primary-600 focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200"
              aria-label="Search"
              aria-describedby="button-addon2" />
          </div>
        </div>
        </div>
      </div>
      <div class="flex justify-center">
        <div class="flex flex-col">
        <label>Number of guests:</label>
        <div class="mb-3 xl:w-15">
          <div class="relative mb-1 flex w-full flex-wrap items-stretch">
            <input
              type="number"
             
              class="relative m-0 block w-[1%] min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-1.5 text-base font-normal text-neutral-700 outline-none transition duration-300 ease-in-out focus:border-primary-600 focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200"
              aria-label="Search"
              aria-describedby="button-addon2" />
          </div>
        </div>
        </div>
      </div>
      <div class="flex justify-center">
        <div class="flex flex-col">
        <label>Arrival date:</label>
        <div class=" xl:w-15">
          <div class="relative  flex w-full flex-wrap items-stretch">
            <input
              type="datetime-local"
              
              class="relative m-0 block w-[1%] min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-1.5 text-base font-normal text-neutral-700 outline-none transition duration-300 ease-in-out focus:border-primary-600 focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200"
              aria-label="Search"
              aria-describedby="button-addon2" />
          </div>
        </div>
        </div>
      </div>
      <div class="flex justify-center">
        <div class="flex flex-col">
        <label>Check out date:</label>
        <div class="mb-3 xl:w-15">
          <div class="relative  flex w-full flex-wrap items-stretch">
            <input
              type="datetime-local"
              
              class="relative m-0 block w-[1%] min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-1.5 text-base font-normal text-neutral-700 outline-none transition duration-300 ease-in-out focus:border-primary-600 focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="button-addon2" />
          </div>
        </div>
        </div>
      </div>
      <span

        class="input-group-text flex items-center whitespace-nowrap rounded px-3 py-1.5 text-center text-base font-normal text-neutral-700 dark:text-neutral-200"
        id="basic-addon2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5">
          <path
            fill-rule="evenodd"
            d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
            clip-rule="evenodd" />
        </svg>
      </span>
      </div>
<div class="mx-auto px-20 py-10">
    <div class="flex flex-col">
        <div class="overflow-x-auto shadow-md sm:rounded-lg">
            <div class="inline-block min-w-full align-middle">
                <div class="overflow-hidden ">
                    <table class="min-w-full divide-y divide-gray-200 table-fixed light:divide-gray-700">
                        <thead class="bg-gray-100 light:bg-gray-700">
                            <tr>
                                <th scope="col"
                                    class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase light:text-gray-400">
                                    Name
                                </th>
                                <th scope="col"
                                    class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase light:text-gray-400">
                                    Conveniences
                                </th>
                                <th scope="col"
                                    class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase light:text-gray-400">
                                    Location
                                </th>
                                <th scope="col"
                                    class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase light:text-gray-400">
                                    Total price
                                </th>
                                <th scope="col"
                                    class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase light:text-gray-400">
                                    Price per night
                                </th>
                                <th scope="col" class="p-4">
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 light:bg-gray-800 light:divide-gray-700">
                            <tr class="hover:bg-gray-100 light:hover:bg-gray-700">
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap light:text-white">
                                    </td>
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap light:text-white">
                                    </td>
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap light:text-white">
                                    </td>
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap light:text-white">
                                    </td>
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap light:text-white">
                                    </td>
                                <td class="py-4 px-6 text-sm font-big text-gray-900 whitespace-nowrap light:text-white">
                                    </td>
                               
                                <td
                                    class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap flex items-center ">
                                
                                    <button routerLink="/reservation/create"
                                        class="bg-green-500 text-white w-full rounded">Reserve</button>
                                
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
